.device {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: 'Goblin One', cursive;
  position:absolute;
  top:100px;
  left:400px;

}

.device1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: 'Goblin One', cursive;
  position:absolute;
  top:100px;
  left:800px;

}

.price {
  color: grey;
  font-size: 22px;
}

.device button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.device1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.device button:hover {
  opacity: 0.7;
}

.device button:hover {
  opacity: 0.7;
}
